on:
  push:
    branches:
      - main

name: Build VisualEyes App

permissions:
  contents: write

jobs:
  build:
    name: Build and release new APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Flutter dependencies
        run: flutter pub get
        working-directory: frontend
      
      - name: Build Flutter APK
        run: flutter build apk --release
        working-directory: frontend
      
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "frontend/build/app/outputs/flutter-apk/app-release.apk"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.VISUALEYES_APP_TOKEN }}